
<%= erb :'questions/_question', locals: {question: @question} %>

<h4 class="answers">Answers</h4>
<div class="answers">
  <% if @answers %>
  <% @answers.each do |answer| %>
  <div class="answer-content" id="<%= answer.id %>">
    <% if answer.best_answer %>
    <h4>Best Answer</h4>
    <% end %>
    <p class="post-info"><span class="points"><%= "points will go here" %> points</span> <span class="username">Posted by: <%= answer.answerer.username %></span></p>
    <p class="content"><%= answer.content %></p>
    <p><a href="/answers/<%= answer.id %>/comments">Comments</a></p>
  </div>
  <% end %>
  <% end %>
</div>
