<div class="question">
  <% if @question %>
    <h1 class="title"><%= @question.title %></h1>
    <%= @error %>
    <%= erb :'/partials/_vote_form', layout: false, locals: {question: @question} %>
    <br>
    <p class="content"><%= @question.content %></p>
    <p><a href="/questions/<%= @question.id %>/comments">Comments</a></p>
  <% end %>
</div>

<h4 class="answers">Answers</h4>
<div class="answers">
  <% if @answers %>
    <% @answers.each do |answer| %>
      <div class="answer-content">
        <p></p>
        <p class="content"><%= answer.content %></p>
        <p class="points"><%= answer.points %> points</p>
        <p><a href="/answers/<%= answer.id %>/comments">Comments</a></p>
      </div>
    <% end %>
  <% end %>
</div>
