<div class="vote-container">
  <% if question %>
    <form method="post" action="/questions/<%= question.id %>">
      <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button vote-button">⬆️</button>
    </form>

    <h3><%= question.points %></h3>

    <form method="post" action="/questions/<%= question.id %>">
      <button type="submit" name="value" value="-1" class="fa fa-sort-desc vote-button vote-button">⬇️</button>
    </form>
  <% elsif answer %>
    <form method="post" action="/answers/<%= answer.id %>">
      <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button vote-button">⬆️</button>
    </form>

    <h3><%= answer.points %></h3>

    <form method="post" action="/answers/<%= answer.id %>">
      <button type="submit" name="value" value="-1" class="fa fa-sort-desc vote-button vote-button">⬇️</button>
    </form>
  <% end %>
</div>
