<h4 class="comments">Comments</h4>
<div class="comments">
  <% if comments %>
    <% comments.each do |comment| %>
    <div class="comment-content" id="<%= comment.id %>">
      <p class="post-info"><span class="username">Posted by: 
        <% if comment.commenter %>
          <%= comment.commenter.username %>
        <% else %>
          anonymous
        <% end %>
      </span></p>
      <p class="content"><%= comment.content %></p>
    </div>
    </br>
    <% end %>
  <% end %>
  <div class="container">
    <form method="post" action="/<%= post %>/<%= id %>/comments">
      <input type="text" name="comment" placeholder="comment">
      <button type="submit" value="submit">submit</button>
    </form>
  </div>
</div>
