<div class="all-questions">
  <% if @questions %>
    <% @questions.each do |question| %>
    <div class="question" id="<%= question.id %>">
      <h4 class="title"><a href="/questions/<%= question.id %>/answers"><%= question.title %></a></h4>
      <p>
        <span class="votes">points: <%= question.points %></span>
        <span class="answers">answers: <%= question.answers.count %></span>

        <span class="username">Posted by: <%= question.questioner.username %></span>
        <span class="timestamp"><%= question.time_since_creation %> seconds ago</span>
      </p>
    </div>
    <% end %>
  <% end %>
</div>
